.item{
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    padding-block: 1rem;
    border-top: 1px solid #ccc;

    
   

    .item--options{
        padding-top: .25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        button{
            all: unset;
            cursor: pointer;
        }
    }
}