<div class="container">
  <div class="container--title">
    <h1>ToDo <b>Angular</b></h1> 
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"/>
  </div>
  
  <div class="container--input">
    <input #meuInput (keyup)="attInput(meuInput.value)" type="text" placeholder="Digite a tarefa...">
    <button (click)="addList(inputValue)" >save</button>
  </div>

</div>

<div class="list" *ngIf="booleanLengthToDoList()">
  <app-item
  *ngFor="let item of toDoList"
  [itemName]="item.name"
  (clearClick)="clearTask($event,item)"
  ></app-item>
</div>